.mapLeaflet {
  height: 80vh;
  z-index: 0;
}
.infoBackground {
  background-image: url("../../images/train/rail-bg.jpg");
  background-position: center;
  background-size: cover;
  color: white;
}
.infoContainer {
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  padding-bottom: 3em;
}
.infoContainer,
.infoBackground {
  min-height: 20vh;
}
.infoContainer p,
.infoContainer ul {
  margin: 0;
  padding: 1em 1em;
  list-style: none;
}
.infoContainer ul li svg {
  width: 1.5em;
  height: 1.5em;
}
.infoContainer span {
  font-size: 1.2em;
  font-weight: bold;
  margin:0 1em;
}